/*---------------------------------------*/
/*   ALL		  	                 		     */
/*---------------------------------------*/
body{
	background:#fcfcfc;
	font-family: 'Roboto', sans-serif;
}
main{
	margin-left: 300px;
}

/*main*/
.title {
	background: #26a69a;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	padding: 20px 40px;
}
.form {
	margin-top: 30px;
	margin-bottom: 30px;
}
.content {
	padding: 30px;
}
.sub-tit {
    padding: 10px 20px;
    background: #E57373;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

/*modal delete*/
.modal-footer a {
	color: #26a69a;
	font-weight: 600;
}

/*custom material*/
.side-nav .collapsible-body li a,
.side-nav.fixed .collapsible-body li a {
	font-weight: 400;
}
.btn.pad {
	padding: 0 10px;
}
input:not([type]).valid+label:after, input:not([type]):focus.valid+label:after, input[type=text].valid+label:after, input[type=text]:focus.valid+label:after, input[type=password].valid+label:after, input[type=password]:focus.valid+label:after, input[type=email].valid+label:after, input[type=email]:focus.valid+label:after, input[type=url].valid+label:after, input[type=url]:focus.valid+label:after, input[type=time].valid+label:after, input[type=time]:focus.valid+label:after, input[type=date].valid+label:after, input[type=date]:focus.valid+label:after, input[type=datetime].valid+label:after, input[type=datetime]:focus.valid+label:after, input[type=datetime-local].valid+label:after, input[type=datetime-local]:focus.valid+label:after, input[type=tel].valid+label:after, input[type=tel]:focus.valid+label:after, input[type=number].valid+label:after, input[type=number]:focus.valid+label:after, input[type=search].valid+label:after, input[type=search]:focus.valid+label:after, textarea.materialize-textarea.valid+label:after, textarea.materialize-textarea:focus.valid+label:after {
    content: attr(data-success);
    color: #4CAF50;
    opacity: 1;
    right: 0;
    margin-right: 23px;
}
#modal_delete.modal {
	width: 35%;
}
